body { margin: 0; font-family: 'Roboto Condensed', sans-serif; }
section {padding: 30px 10%;}
section:nth-child(odd){ background-color: #F9F9F9;}
h2 {flex-basis: 100%; font-size: 40px; text-align: center; font-family: 'Roboto Mono', monospace; width: 55%; margin: 0 auto;}
h2 + p { width: 55%; margin: 30px auto; text-align: center;}
h3 { text-align: left; }
p {text-align: left;}
hr { border: 2px solid #e5e5e5; width: 50%; margin: 50px auto; }
.row {display: flex; flex-wrap: wrap;}
.col { flex: 1; text-align: center;}
.col + .col { flex-basis: 50%;}
.good { border-left: 2px solid lightgreen; }
.bad { border-left: 2px solid red; }
.pro-tip {
  border-left: 4px solid #fcaf2e;
  padding: 15px 15px 15px 80px;
  font-style: italic;
  margin-top: 5px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/8/87/Light_Bulb_or_Idea_Flat_Icon_Vector.svg);
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: 5px;
}
